@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --super-white: #ffffff;
    --white: #FEFEFE;
    --black: #282828;
    --gray: #F2F2F2;
    --dark-gray: #999999;
    --green: #D6FC51;
    --blue: #0000C4;
    --red: #DA2E2E;
}
hr{
    color: var(--black);
    border-radius: 10px;
    width: 100%;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: all .3s ease-in-out;
}
body {
    background: var(--gray);
    font-family: 'Mabrope', sans-serif;
}
main{
    min-height: 55vh;
}
.impulse-appearance-animation.appeared{
    animation-name: impulse-appearance;
    animation-duration: .8s;
    animation-iteration-count: 1;
    transition: all .5s ease-in-out;
}
.top-appearance-animation.appeared{
    animation-name: top-appearance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: all 1s ease-in-out;
}
.bottom-appearance-animation.appeared{
    animation-name: bottom-appearance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: all 1s ease-in-out;
}
@media screen and (min-width: 1024px) {
    html {
        font-size: 14px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 13px;
    }
}
@media screen and (max-width: 767px) {
    html {
        font-size: 12px;
    }
}
@keyframes impulse-appearance{
    0%{
        opacity: 0;
        transform: scale(95%);
    }
    33%{
        opacity: 1;
        transform: scale(101%);
    }
    100%{
        opacity: 1;
        transform: scale(100%);
    }
}
@keyframes top-appearance{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes bottom-appearance{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.header {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 62px;
    background: var(--green);
    border-radius: 0px 0px 25px 25px;
}

#logo {
    color: var(--blue);
    font-family: 'Fira Code', monospace;
    font-size: 2.1rem;
    margin: auto;
}

#logo:hover {
    color: var(--red);
    word-spacing: 3px;
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: var(--white);
    background: var(--black);
}

.copyright {
    color: var(--white);
}

.small-text {
    color: var(--dark-gray);
    font-weight: 300;
    line-height: 160%;
    font-size: 1rem;
}
.medium-text{
    color: var(--dark-gray);
    font-weight: 500;
    line-height: 160%;
    font-size: 1.2rem;
}
.subheading {
    color: var(--black);
    line-height: 160%;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: -10px;
}

.gray-heading {
    color: var(--dark-gray);
    line-height: 160%;
    font-weight: 500;
    font-size: 2.5rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    max-width: 1000px;
    margin: 100px auto;
    padding: 0px 10px;
}

.sub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.box {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 40px;
    gap: 10px;
    background-color: var(--white);
    border: none;
    border-radius: 30px;
    transition: all .5s ease-in-out;
}

.box:hover {
    transform: translate(-2px, -2px);
}
#box-1{
    max-width: 100%;
}
#box-1:hover,
#score-box:hover,
#time-box:hover {
    box-shadow: 3px 3px var(--black);
}

#box-3:hover,
#restart:hover {
    box-shadow: 3px 3px var(--red);
}

#box-2:hover,
#box-4:hover {
    box-shadow: 3px 3px var(--blue);
}

#box-2:active,
#box-3:active,
#box-4:active {
    box-shadow: none;
    transform: translate(0px, 0px);
}

.wave {
    margin: 20px auto 70px auto;
}

#wave-1,
#wave-3 {
    width: 167px;
    height: 81px;
}

#wave-2 {
    width: 280px;
    height: 157px;
}

#box-1 {
    width: 100%;
}

#box-2,
#box-4,
#time-box,
#score-box {
    flex-grow: 1;
}

#box-3,
#restart {
    flex-grow: 2;
}

canvas {
    background-color: var(--white);
    border-radius: 30px;
    touch-action: none;
    cursor: crosshair;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 40px 100px;
    margin: auto;
    border: none;
    border-radius: 25px;
    background: var(--white);
    transition: all 0.3s ease-in-out;
}

.choice-item {
	float: left;    
}
.choice-group input[type=radio] {
	display: none;
}
.choice-group label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 35px;
	line-height: 34px;
	color: var(--dark-gray);
	border: 2px solid var(--gray);
	user-select: none;
}
 
.choice-group .choice-item:first-child label {
	border-radius: 10px 0 0 10px;
}
.choice-group .choice-item:last-child label {
	border-radius: 0 10px 10px 0;
}
 
.choice-group input[type=radio]:checked + label {
	background: var(--gray);
	color: var(--black);
}
 
.choice-group label:hover {
	color: var(--black);
}
#restart-img{
    width: 50px;
    height: auto;
}

.game-info-box{
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 20px;
}
 