.body {
    background: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: rgb(24, 24, 24);
    box-shadow: 0 0 5px var(--color), 0 0 25px var(--color), 0 0 40px var(--color);
}

:root {
    --color: #804cdb;
}

.container {
    position: relative;
}

.cont {
    font-family: 'Space Mono', monospace;
    position: relative;
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
}

.control {
    text-align: center;
    width: 300px;
    height: 80px;
    position: relative;
    padding: 15px;
    letter-spacing: 3px;
    background: rgb(15, 20, 0);
    color: var(--color);
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid var(--color);
    transition: 0.3s;
    margin: 50px;
    box-shadow: 0 0 5px var(--color), 0 0 25px var(--color), 0 0 40px var(--color);
}

.control_choice {
    position: relative;
    left: 30px;
    text-align: left;
}